<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-event-test (myTestEvent)="onNavigate2($event)"></app-event-test>
<h1>{{loadedFeatureText}}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>      
      <app-shopping-list *ngIf="loadedFeature!='recipe'"></app-shopping-list> -->

      <!-- appUnless custom directive instead of *ngIf -->
      <app-recipes *appUnless="loadedFeature==='recipe'"></app-recipes>      
      <app-shopping-list *appUnless="loadedFeature!='recipe'"></app-shopping-list>
    </div>
  </div>
</div>